/*
 * Remove template code below
 */
// stop bouncing on ios
// html,
// body {
//   height: 100%;
//   width: 100%;
//   overflow: auto;
// }
#root {
  height: 100vh;
  font-family: "Montserrat";
}

.react-gravatar {
  border-radius: 50%;
}

.dropleft .dropdown-toggle::before {
  display: none;
}

.x-small {
  font-size: 0.6rem;
}
.small {
  font-size: 0.8rem;
}
.md {
  font-size: 1rem;
}
button.css-zn31x:focus {
  box-shadow: unset;
  outline: none;
}
button.css-17ohz9w:focus {
  box-shadow: unset;
  outline: none;
}
.sticky {
  position: sticky !important;
  position: -webkit-sticky !important;
  z-index: 100;

  &.first {
    top: 0px;
  }
  &.second {
    top: 40px;
  }
  &.third {
    top: 80px;
  }
}
